﻿@model List<MvcMusicStore.Models.Album>
@{
    ViewBag.Title = "ASP.NET MVC Music Store Part two ";
}
<div id="promotion">
</div>

<<<<<<< HEAD
<h3><em>Fresh</em> off the Music grill 45 jean</h3>
=======
<h3><em>Fresh</em> off the Music grill 44</h3>
>>>>>>> f7e1c408a0b64498a39030ae5cde1dadf746cb25

<ul id="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("Details", "Store",
                new { id = album.AlbumId })">

            <img alt="@album.Title" src="@album.AlbumArtUrl" />
            <span>@album.Title</span> </a>
        </li>
    }
</ul>